/*
 * MRENYARD
 *
 * Default CSS Manifest modified from Snook's
 * Scalable and Modular Architecture for CSS
 * http://smacss.com/book/
 */

/* ===============================================================================================
  BASE   - Primary HTML elements such as the body, form tags, links...
  ============================================================================================ */


  input[type="number"] { width: 4rem; }

  figure { overflow: hidden; }
  figure > img:not(figcaption) { object-fit: cover; }
  figure:target { box-shadow: .5rem .5rem 1rem rgb(0 0 0 / .5); }
  figure:focus-within:not(.logo) { box-shadow: .75rem .75rem 1.5rem rgb(0 0 0 / .25); }
  figure > figcaption { padding: 0 .5rem .5rem; text-align: center; background-color: rgb(0 0 0 / .125); }

  input[type="submit"]:focus, button:focus { box-shadow: 0 0 .25rem .25rem var(--button-glow-color) inset; } 

/* =============================================================================================
  SPACING - Whitespace, Spacing Base Font Size, based on viewport.
  ============================================================================================ */

  body {
    /* --full-margin: 0;
    --full-padding: .5rem;
    --inline-margin: -.25rem;
    --inline-padding: .25rem; */
    --full-margin: 0;
    --full-padding: .25rem;
    --inline-margin: -.125rem;
    --inline-padding: .125rem;

    --popup-right: 3rem;
    --popup-inner: .25rem;

    --top-drop: 6rem;
    /* --top-drop-inline-margin: .5rem; */

    --icon-button-size: 2.5rem;
    --icon-relative-size: 1rem;

    --border-radius: .5rem;
  }

  /* screen-width:300/16px */
  @media only screen and (min-width: 18.75em) { body {
  /* --full-margin: 0;
  --full-padding: 1rem;
  --inline-margin: -.5rem;
  --inline-padding: .5rem;
  --popup-inner: .5rem; */
  }}

  /* screen-width:474/16px */
  @media only screen and (min-width: 34.25rem) { body {
  --top-drop: 4.25rem;
  }}

   
/* ==============================================================================================
  LAYOUT  - How the page is divided into sections including headers, footers, sidebars...
         example: screen-width:1024/16px : @media only screen and (min-width: 64em) { }
  ============================================================================================ */


  body > article,
  body > section,
  #main > header,
  #main > section {
    margin: var(--full-margin);
    padding: var(--full-padding);
  }

  #main > * > header, #main > * > footer { grid-column: 1/-1; height: fit-content; }
  #main > * > header > form:only-of-type, #main > * > footer > form:only-of-type { text-align: center; }

  /** .field .hint **/
.field > .hint {
  display: block;
  position: fixed;
  z-index: 100;
  right: var(--popup-right);
  bottom: -33%; left: 0;
  height: fit-content; max-height: 33%;
  max-width: 40ch;
  overflow-y: auto;
  padding: var(--popup-inner);
  color: var(--text-color);
  background-color: rgb(255 255 200);
  border: solid;
  border-width: .75rem .75rem 0 0;
  border-color: var(--primary-color);
  border-top-right-radius: var(--border-radius);
  box-shadow: .5rem .5rem 1rem rgb(0 0 0 / .5);
  transition: bottom 1s ease-out;
} .field:focus-within > .hint { bottom: 0;
} .field > .hint::first-letter {
  text-transform: capitalize;
}

/* ==============================================================================================
  MODUALS - Discrete, reusable, modular components, usually denoted with a module class name
         e.g. product lists, contact forms...
  ============================================================================================ */


  /** .logo **/
  #top > figure.logo {
    position: relative;
    /* padding: .5rem; */
    padding: var(--full-padding);
    color: var(--primary-contrast-color);
  }
  #top > figure.logo img {
    /* margin: 0 auto; */
    /* max-height: 11.75rem; */
    aspect-ratio: 1/1;
  }
  #top > figure.logo figcaption {
    background-color: transparent;
  } @media only screen and (min-width: 34.25rem) {
    #top > figure.logo {
      display: flex;
      align-items: center;
      /* width: calc(100% - 3rem); */
    }
    #top > figure.logo > * {
      width: 33%;
      text-align: left;
    }
    #top > figure.logo > a ~ figcaption {
      width: 60%;
      align-self: middle;
      vertical-align: center;
      padding-left: 1rem;
      /* padding-top: .5rem; */
      padding-top: var(--full-padding);
    }
  }


  /** #main **/
  #main:has(a[href="#main"]:focus):target {
    scroll-margin-top: 0;
  } #main {
    scroll-snap-type: y mandatory;
  }

  /** Site Navigation (#site-nav) **/
  #site-nav:has(a[href="#site-nav"]:focus):target {
    scroll-margin-top: 0;
  } #site-nav {
    z-index: 1000;
    display: block; position: fixed;
    /* top: .5rem; right: .5rem; */
    top: var(--full-padding); right: var(--full-padding);
    /* width: 3rem; height: 3rem; */
    width: var(--icon-button-size); height: var(--icon-button-size);
    overflow: hidden;
    text-align: center;
    line-height: 2.75rem;
    border-radius: var(--border-radius);
    background-color: var(--dark-primary-color);
  } #site-nav:target,
    #site-nav:focus-within {
    bottom: 4rem; height: auto;
  } #site-nav > h2:first-child {
    width: var(--icon-button-size); height: var(--icon-button-size);
    text-indent: var(--icon-button-size); overflow: hidden;
    color: white; background-color: currentColor;
    mask: var(--icon-x16-menu) center center / var(--icon-relative-size) no-repeat;
  }


  /** site footer (#contentinfo) **/
  #contentinfo:has(a[href="#contentinfo"]:focus):target {
    scroll-margin-top: 0;
  } #contentinfo {
    scroll-margin: var(--top-drop);
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr; */
    /* gap: var(--full-padding); */
    min-height: 50vh;
    align-items: end;
    padding: var(--full-padding);
    color: var(--daker-primary-contrast-color);
    background-color: var(--darker-primary-color);
  }
  #contentinfo > nav {
    /* columns: 2; */
    /* column-gap: var(--full-padding); */
  }

  
/** .gallery **/
#main > .gallery {
  display: grid; grid-gap: 1rem; grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
#main > .gallery.box > figure {
  /* border-radius: .5rem; */
  border-radius: var(--border-radius);
  vertical-align: baseline;
  color: black;
  background-color: white;
  scroll-margin: 1rem;
}
#main > .gallery > figure > figcaption {
  white-space: nowrap;
}
#main > .gallery.box.icons > figure > a:first-child {
  display: flex;
  line-height: 3rem;
  align-items: center;
  align-content: center;
  width: 3rem; height: 3rem;
  margin: 2rem auto 1.5rem;
  border-radius: var(--border-radius);
  background-color: var(--dark-primary-color);
}


/* ==============================================================================================
  THEMES  - Recurring colour palette for text, links, buttons and background-images...
  ============================================================================================ */


@media (prefers-color-scheme: dark) {
  body { color: rgb(225 225 225); }
  #main { background-color: rgb(100 155 100); }
  :root {
    --text-color: rgb(10 10 10);
    --primary-color: rgb(0 128 0);
    --primary-contrast-color: rgb(255, 255, 255);
    --dark-primary-color: rgb(0 99 0);
    --darker-primary-color: rgb(0 33 0);
    --darker-primary-contrast-color: rgb(200 200 200);
    --selection-txt-color: rgb(255 255 255);
    --selection-bg-color: rgb(0 128 0);;
    --accent-color: rgb(0 50 0 / .75);

    --error-primary-color: rgb(255,0,0);
    --error-contrast-color: rgb(255,255,255);
    --error-primary-low-color: rgb(255,50,50);
    --error-primary-high-color: rgb(140,0,0);
    --checked-primary-color: rgb(0, 128, 0);

    --button-glow-color: rgb(255 255 155 / .75);
  }
}

@media (prefers-color-scheme: light) {
  body { color: rgb(33 33 33); }
  #main { background-color: rgb(255 255 255); }
  :root {
    --text-color: rgb(10,10,10);
    --primary-color: green;
    --primary-contrast-color: white;
    --dark-primary-color: rgb(0, 99, 0);
    --darker-primary-color: rgb(0 33 0);
    --darker-primary-contrast-color: rgb(200 200 200);
    --selection-txt-color: white;
    --selection-bg-color: green;
    --accent-color: rgb(200 255 200 / .75);
/*
    --error-primary-color: rgb(255,0,0);
    --error-contrast-color: rgb(255,255,255);
    --error-primary-low-color: rgb(255,50,50);
    --error-primary-high-color: rgb(140,0,0);
    --checked-primary-color: rgb(0, 128, 0);  */

    --button-glow-color: rgb(255 255 155 / .75);
  }
}

/* ==============================================================================================
  STATE  - How thing may change based of user interaction or through JavaScript DOM changes,
         e.g. errors, hidden, expanded, active
  ============================================================================================ */

@keyframes traverse-left-right {
  0% { right: auto; left: var(--full-padding); }
  1%{ right: calc(99% - var(--icon-button-size)); left: auto; }
  100% { margin-right: 3rem; left: auto; right: 0%;}
}

@keyframes stick-left-right {
  0% { right: auto; left: var(--full-padding); }
  99%{ right: auto; left: var(--full-padding); }
  100% { margin-right: 3rem; left: auto; right: 0%;}
}
