Package: svelte
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: apache2-webshop-conf, php-fpdf (>=1.6), php-curl, postfix
Recomends: webproject-tools
Maintainer: renyard.m@gmail.com
Description: Svelte
  Rapid easy-to-use 'best practice' web application development enviroment.
   - Clear seperation of form and function
   - total control over output (semantic HTML etc)
   - serverside development independatly of front-end design (markup)
   - in-build ajax fuctionality applied through progressive enhancments
   - easliy customized at every level
