<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd" cacheDirectory=".phpunit.cache" executionOrder="depends,defects" requireCoverageMetadata="false" beStrictAboutCoverageMetadata="true" beStrictAboutOutputDuringTests="true" displayDetailsOnPhpunitDeprecations="true" displayDetailsOnTestsThatTriggerDeprecations="true" displayDetailsOnTestsThatTriggerErrors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerWarnings="true" failOnPhpunitDeprecation="true" failOnRisky="true" failOnWarning="true">
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">../tests</directory>
    </testsuite>
  </testsuites>
  <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
    <include>
      <directory suffix=".class.php">../code</directory>
    </include>
  </source>
  <coverage>
    <report>
      <html outputDirectory="/var/www/docs/coverage/" lowUpperBound="50" highLowerBound="90" customCssFile="tools/custom.css" />
    </report>
  </coverage>
</phpunit>
