/*
 * base.css
 *
 * Default CSS Manifest modified from Snook's
 * Scalable and Modular Architecture for CSS
 * http://smacss.com/book/
 */

/* ===============================================================================================
  BASE   - Primary HTML elements such as the body, form tags, links...
  ============================================================================================ */


/* https://www.joshwcomeau.com/css/custom-css-reset/ */
  *, *::before, *::after { box-sizing: border-box; }
  * { margin: 0; overscroll-behavior: contain; }
  nav ul, nav ol { padding: 0; }
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: calc(1.2em + .5rem);
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  input, button, textarea, select { font: inherit; }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
  } p > :any-link { hyphens: none; }
  :root { accent-color: var(--accent-color); }
  :empty:not(img, input, textarea) { display: none; }
  html { scroll-snap-type: y proximity; }
  a[href] { text-decoration: none;
  } p a[href] { text-decoration: underline; }
  a[href*="//"]::after {
    content: ''; display: inline-block;
    width: 1.25rem; height: 1rem;
    text-indent: .75rem; overflow: hidden;
    color: inherit; background-color: currentColor;
    mask: var(--icon-x12-external) top center / .75rem no-repeat;
  } 
  input, textarea { caret-color: var(--accent-color); }
