/**
 * layout-form.css
 *
 * Default CSS Manifest modified from Snook's
 * Scalable and Modular Architecture for CSS
 * http://smacss.com/book/
 */
/* ==============================================================================================
  LAYOUT  - How the page is divided into sections including header, main, aside, nav, footer.
         example: screen-width:1024/16px : @media only screen and (min-width: 64em) { }
  ============================================================================================ */

  
  form:has(> fieldset:last-of-type:nth-of-type(1)) { --c: 1; --oeo: .5rem; --dot: -.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(2)) { --c: 2; --oeo: -.5rem; --dot:-.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(3)) { --c: 3; --oeo: .5rem; --dot: -.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(4)) { --c: 4; --oeo: -.5rem; --dot:-.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(5)) { --c: 5; --oeo: .5rem; --dot: -.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(6)) { --c: 6; --oeo: -.5rem; --dot:-.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(7)) { --c: 7; --oeo: .5rem; --dot: -.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(8)) { --c: 8; --oeo: -.5rem; --dot:-.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(9)) { --c: 9; --oeo: .5rem; --dot: -.5rem; }
  form:has(> fieldset:last-of-type:nth-of-type(10)) { --c: 10; --oeo: -.5rem; --dot:-.5rem; }
  form > fieldset:nth-of-type(1) { --i: 1 }
  form > fieldset:nth-of-type(2) { --i: 2 }
  form > fieldset:nth-of-type(3) { --i: 3 }
  form > fieldset:nth-of-type(4) { --i: 4 }
  form > fieldset:nth-of-type(5) { --i: 5 }
  form > fieldset:nth-of-type(6) { --i: 6 }
  form > fieldset:nth-of-type(7) { --i: 7 }
  form > fieldset:nth-of-type(8) { --i: 8 }
  form > fieldset:nth-of-type(9) { --i: 9 }
  form > fieldset:nth-of-type(10) { --i: 10 }

  main:has( > form:only-child ) {
    position: relative;
  }
  main > form:only-child {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory; 
    scroll-timeline: --timeline x;
    text-align: center;
  } main > form:only-child:before { background-color: lightgray !important;
    content: ''; z-index: 2;
    width: .5rem; height: .5rem;
    border-radius: .25rem;
    margin: 0 auto;
    position: absolute;
    bottom: calc(.375rem + (var(--block-spacing)));
    left: calc(50% + .5rem  + var(--dot));
    --trans-pos: calc(var(--c) * .625rem);
    --trans-neg: calc((var(--c)*-1) * .625rem);
    animation: dot steps(var(--c));
    animation-timeline: --timeline;
  }

  main > form:only-child > * { background-color: lightgray !important;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-inline: var(--block-spacing);
    margin: 0 var(--block-spacing);
    padding: var(--block-spacing);
    margin-bottom: calc(1.5em + var(--block-spacing));
    min-width: calc(100svw - (var(--block-spacing)*2));
    border-radius: .75rem .75rem 0 0; border: none 0;
  } main > form:only-child > footer {
    position: absolute;
    height: 1.5rem;
    text-align: center;
    margin: 0; bottom: 0;
    left: var(--block-spacing);
    right: var(--block-spacing);
    border-radius: 0 0 .75rem .75rem;
  }


  form > fieldset {
    --offset: round(up, (var(--i)/2), 1);
  } form > *:not(footer)::before {
    content: ''; display: block;
    position: absolute; z-index: 1;
    width: .75rem; height: .75rem;
    border-radius: .375rem;
    left: calc(50% + var(--oeo)); bottom: calc(.25rem + var(--block-spacing));
    background-color: white !important;
  } form > fieldset:nth-child(odd):before {
    left: calc(50% + (var(--offset) * 1.25rem) + var(--oeo));
  } form > fieldset:nth-child(even):before {
    left: calc(50% - (var(--offset) * 1.25rem) + var(--oeo));
  }

  form > fieldset > legend {
    float: left; width: 100%;
    margin: 0; padding: 0;
  }

  @keyframes dot {
    from { transform:translateX(var(--trans-neg)); }
    to { transform:translateX(var(--trans-pos)); }
  }
