/**
 * modual-page-nav-search.css
 *
 * Default CSS Manifest modified from Snook's
 * Scalable and Modular Architecture for CSS
 * http://smacss.com/book/
 *
 * Expose page navigation links; below top-of-page.
 * Placeholder tabs.
 * Section target highlighting.
 */
 /* ==============================================================================================
  MODUALS - Discrete, reusable, modular components, usually denoted with a module class name
         e.g. product lists, contact forms...
  ============================================================================================ */


body {
  position: absolute; z-index: 1;
  top: 0; right: 0; left: 0;
  /* overflow-x: hidden; */
  transition: top .5s ease-in;
  --top-drop: 6.5rem;
  @media screen and (min-width: 32rem) { /* 448px */
  --top-drop: 3.5rem;
  }
  &:has(#top > nav > ul:focus-within),
  &:has(#top:target > nav > ul) {
    top: var(--top-drop);
  }
  /* &.kill-transition { transition: none; }  */
}

/** header (#top) **/
#top {
  position: relative;
  box-shadow: 0 -1.5rem 2rem rgb(0 0 0 / .5);
  &:has( ul:focus-within ) ~ *:target {
    scroll-margin-top: var(--top-drop);
  }
  > nav {
    position: absolute;
    top: .25rem; right: var(--popup-right);
    bottom: .375rem; left: .375rem;
  }
}

/** #quick-links **/
#quick-links {
  position: fixed; z-index: -1;
  display: flex; gap: .125rem;
  flex-direction: column;
  height: var(--top-drop);
  top: calc(var(--top-drop)*-1);
  right: 0; left: 0;
  text-align: center;
  margin: 0 auto;
  padding-inline: var(--popup-right);
  padding-top: .125rem;
  transition: top .5s ease-in;
  > li {
    height: 3rem;
    padding: .25rem;
    overflow: hidden;
    &:nth-of-type(2) { margin-inline: -3.125rem; } 
    &:nth-of-type(3),
    &:nth-of-type(4) {
      position: absolute; top: .125rem;
      width: 3rem; 
      > a { width: 2.5rem; text-indent: 3rem; }
    }
    &:nth-of-type(3) {
      right: .125rem;
      > a { background-color: transparent; } 
    }
    &:nth-of-type(4) { left: .125rem; }
    > a {
      width: 100%; height: 2.5rem;
      line-height: 2.5rem; break-after: always;
      color: var(--secondary-contrast);
      background-color: var(--secondary-color);
    }
  } 
} @media screen and (min-width: 32rem) { /* 448px */
  #quick-links { display: block;
    > li {
      display: inline-block;
      max-width: 15rem; width: 49%;
      &:nth-of-type(2) {
        margin-inline: 0;
      }
    }
  }
} @media screen and (min-width: 49rem) { /* 784px */
  #quick-links { padding-inline: auto; gap: 1rem; }
} #top:target #quick-links,
  #quick-links:focus-within { top: 0;
}

/** #quick-search **/
#quick-search {
  position: sticky;
  top: .375rem; float: right;
  overflow: hidden;
  width: 2.5rem; height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  transition: width 1s ease-out;
  > .field,
  > input[type="submit"] {
    display: inline-block;
    position: absolute; top: 0;
    min-width: 2.5rem; height: 2.5rem;
    overflow: hidden;
    border: 0 none;
    color: var(--primary-contrast-color);
    background-color: var(--secondary-color);
  }
  > .field {
    z-index: 1; left: 0; right: 2.5rem;
    > * { float: left; }
    > label {
      width: 2.5rem; height: 2.5rem;
      text-indent: 2.5rem; overflow: hidden;
      color: white; background-color: currentColor;
      mask: var(--icon-x16-search-glass) center center / 1rem no-repeat;
      cursor: pointer;
    }
    > input {
      position: absolute; z-index: -1;
      top: 0; right: 0; bottom: 0; left: 2.5rem;
      margin: 0; padding: 0;
      border: none; outline: none;
      background-color: rgb(255 255 255 / .75);
      scroll-margin-block-start: var(--inline-spacing);
    }
  }
  > input[type="submit"] {
    z-index: 0; right: 0; outline: none;
    color: var(--secondary-contrast);
  }
  &:focus-within {
    width: 100%;
    > .field > input {
      padding: 0 .5rem;
      transition: padding 1s ease-out .5s;
    }
  }
}


/** In-page (bookmark) placholders **/
main, aside, article, section {
  > a:first-child,
  > :where( form:only-child) > a:first-child {
    float: left; z-index: 1;
    width: 1.25rem; height: 1.25rem;
    color: var(--accent-contrast, white);
    margin-right: .625rem; margin-bottom: -1.25rem; margin-left: -100rem;
    text-indent: .1875rem; line-height: 1.25rem;
    box-shadow: .25rem .25rem .5rem rgb(0 0 0 / .75);
    background-color: var(--accent-color, rgb(0, 120, 215));
    &:focus {
      width: 2rem;
      border-radius: 0 .5rem .5rem 0;
      transition: .25s ease-out;
      transition-property: width, height;
      margin-left: 0; margin-bottom: auto;
    }
  }
  &:target {
    background-color: var(--post-highlight-color);
    animation: fade-highlight 2s ease-out forwards;
  }
} body > main > a:first-child:focus {
  margin-top: 1.25rem;
} body :is(main, aside, article, section):has( > header.hero ) > a:first-child:focus,
  main > form:only-child > a:first-child:focus,
  body > aside > a:first-child:focus,
  body > aside > article > a:first-child:focus {
  width: 1.25rem; height: 2rem;
  margin-top: 0; margin-bottom: -2rem; margin-left: .5rem;
  border-radius: 0 0 .5rem .5rem;
}

@keyframes fade-highlight {
  from { background-color: var(--highlight-color, yellow);; }
  to { background-color: var(--post-highlight-color); }
}