/*
 * modual-page-nav-search.css
 *
 * Default CSS Manifest modified from Snook's
 * Scalable and Modular Architecture for CSS
 * http://smacss.com/book/
 */

 /* ==============================================================================================
  MODUALS - Discrete, reusable, modular components, usually denoted with a module class name
         e.g. product lists, contact forms...
  ============================================================================================ */


  /** under BODY (carbon fiber) (top-drop) **/
  body {
    position: absolute; z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
 /* https://projects.verou.me/css3patterns/#carbon-fibre */
    background:
      radial-gradient(black 15%, transparent 16%) 0 0,
      radial-gradient(black 15%, transparent 16%) 8px 8px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
      radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size:16px 16px;
    background-attachment: fixed;
    transition: top .5s ease-in;
  } body.kill-transition {
    transition: none;
  } body:has(#top > nav > ul:focus-within),
    body:has(#top:target > nav > ul) {
    top: var(--top-drop);
  }

  /** header (#top) **/
  #top {
    position: relative;
    background-color: var(--primary-color);
  } #top ~ * { scroll-margin-top: var(--top-drop);
  }

  /** top/search jump:links **/ 
  a[href="#top"],
  #quick-search > label:first-child {
    display: block; position: fixed;
    right: var(--full-padding); bottom: var(--full-padding);
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    min-width: var(--icon-button-size);
    line-height: var(--icon-button-size);
    font-size: .9rem;
    padding: 0 var(--full-padding);
    overflow: hidden;
    text-align: center;
    text-transform: lowercase;
    border-radius: var(--border-radius);
    color: var(--primary-contrast-color);
    background-color: var(--dark-primary-color);
    cursor: pointer;
  } a[href="#top"] { z-index: 99;
  } #quick-search > label:first-child { z-index: 0;
  } .js #top:target #quick-search > label:first-child,
    #quick-links:focus-within ~ #quick-search > label:first-child {
    z-index: 100;
    width: 4.25rem;
    transition-delay: 1s;
    transition-property: width, z-index;
  }

  /** #quick(-links|-search) container **/
  #top > nav {
    position: absolute;
    top: 0; right: 0; left: 0;
    padding: var(--full-padding);
    overflow: hidden;
  }
  #top > nav > ul {
    position: fixed; z-index: -10;
    height: var(--top-drop);
    top: 0; right: 0; left: 0;
    text-align: center;
    margin: 0 auto;
    padding-right: var(--popup-right);
  } @media only screen and (min-width: 34.25rem) {
    #top > nav { padding-right: 4rem; }
    #top > nav > ul { padding-left: 4rem; text-align: center; }
  }

  /** #quick-links **/
  #quick-links > li {
    display: inline-block;
    width: calc(100% - var(--full-padding));
    list-style: none;
    margin: var(--inline-padding) var(--inline-padding) 0; padding: var(--inline-padding);
  }  /* #site-nav jump:link (keyboard accessible) hidden behind #site-nav */
    #quick-links > li:first-of-type {
      width: calc(100% - (var(--icon-button-size) + (var(--full-padding)*2)));
      margin-left: calc(var(--icon-button-size) + (var(--full-padding)*2));
    } #quick-links > li:has(a[href="#site-nav"]) {
    position: absolute;
    top: 0; right: var(--full-padding);
    z-index: 200;
    min-width: auto;
    width: var(--icon-button-size); height: var(--icon-button-size);
  } /* #contentinfo jump:link */ 
    #quick-links > li:has(a[href="#contentinfo"]) {
    position: absolute;
    top: calc(var(--icon-button-size) + var(--full-padding) + var(--inline-padding));
    right: .0625rem; width: 2.75em;
  } @media only screen and (min-width: 34.25rem) {
    #quick-links > li  { min-width: auto; width: 12rem; }
    #quick-links > li:has(a[href="#contentinfo"]) { top: 0; right: auto; left: .35rem; }
  }
  #quick-links > li > a {
    display: block;
    position: relative;
    padding: 0 var(--full-padding);
    line-height: 2rem; text-align: center;
    border-radius: var(--border-radius);
    border: solid .25rem rgb(255 255 255 / .5);
    color: rgb(33 33 33); background-color: white;
  } #quick-links > li > a:focus {
    box-shadow: .25rem .125rem 2rem var(--button-glow-color);
  } /* #site-nav jump:link (keyboard accessible) hidden behind #site-nav */
    #quick-links > li > a[href="#site-nav"] {
    height: var(--icon-button-size); width: var(--icon-button-size);
    border: none 0;
    box-shadow: none;
    overflow: hidden;
    text-indent: var(--icon-button-size);
    white-space: nowrap;
  } #quick-links > li > a[href="#contentinfo"] {
    height: var(--icon-button-size);
    overflow: hidden; text-indent: var(--icon-button-size);
    white-space: nowrap; line-height: var(--icon-button-size);
  }
  #quick-links > li > a[href="#contentinfo"]::before {
    content: ''; display: block;
    position: absolute; top: .25rem; left: .25rem;
    color: inherit; background-color: currentColor;
    mask: var(--icon-x16-info) center center / 1.5rem no-repeat;
     width: 1.5rem; height: 1.5rem;
     text-align: center;
  } 

  /** #quick-search **/
  #quick-search {
    position: fixed;
    top: var(--full-padding);
    right: var(--popup-right);
    left: auto;
    overflow: hidden;
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    transition: width 1s ease-out;
  } @media (orientation: portrait) {
    #quick-search {
      right: auto; left: var(--full-padding);
      animation: ease-in-out traverse-left-right forwards;
      animation-timeline: scroll(y);
      animation-range-start: var(--top-drop);
      animation-range-end: 75vw;
    } #quick-search:focus-within {
      right: var(--full-padding); left: auto;
    }
  } @media (orientation: landscape) {
    #quick-search { right: var(--popup-right); left: auto; }
  } #quick-search:focus-within {
    width: calc(100% - var(--popup-right) - var(--full-padding));
  } #quick-search > .field,
    #quick-search > input[type="submit"] {
    display: inline-block;
    position: absolute; top: 0;
    min-width: var(--icon-button-size);
    height: var(--icon-button-size);
    overflow: hidden;
    border: 0 none;
    color: var(--primary-contrast-color);
    background-color: var(--dark-primary-color);
  } #quick-search > .field {
    z-index: 1; left: 0;
    right: var(--icon-button-size);
  } #quick-search > input[type="submit"] {
    z-index: 0; right: 0; outline: none;
  }
  #quick-search > .field > * {
    display: inline-flex;
    float: left;
  } #quick-search > .field > label {
    max-width: var(--icon-button-size); height: var(--icon-button-size);
    text-indent: var(--icon-button-size); overflow: hidden;
    color: white; background-color: currentColor;
    mask: var(--icon-x16-search-glass) center center / var(--icon-relative-size) no-repeat;
    cursor: pointer;
  } #query {
    position: absolute; z-index: -1;
    top: 0; right: 0; bottom: 0; left: var(--icon-button-size);
    margin: 0; padding: 0;
    border: none; outline: none;
    background-color: rgb(255 255 255 / .75);
    scroll-margin-block-start: var(--full-padding);
    transition: padding .25s  ease-out .5s;
  } #quick-search:focus-within #query {
    padding: 0 var(--full-padding);
  }
  #quick-search > .field > .hint { max-height: 66%; bottom: -66%;
  } #quick-search > .field:focus-within > .hint { bottom: 0;
  }
